.heading {
  display: flex;
  padding: var(--spacing-md);
}

.heading button {
  border: none;
  background-color: transparent;
  outline: none;
  cursor: pointer;
}

.heading_name,
.heading_population,
.heading_area,
.heading_currencies {
  flex: 4;
  color: var(--text-color-secondary);
  font-weight: 500;

  display: flex;
  justify-content: center;
  align-items: center;
}

.heading_name {
  justify-content: flex-start;
}

.heading_arrow {
  color: var(--primary-color);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: var(--spacing-icon);
}

.row {
  display: flex;
  padding: var(--spacing-md) var(--spacing-lg);

  align-items: center;
  text-align: center;

  background-color: var(--background-color-light);
  border-radius: 8px;
  margin-bottom: var(--spacing-sm);

  box-shadow: var(--box-shadow);

  font-weight: 500;

  transition: transform 200ms ease-in-out, box-shadow 200ms ease-in-out;
}

.row:hover {
  transform: translateY(-4px);
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.name,
.population,
.area,
.currencies {
  flex: 4;
}

.name {
  text-align: left;
}

.flag,
.heading_flag {
  margin-right: var(--spacing-lg);
  flex: 1;
  display: flex;
  align-items: center;
}

.flag img {
  width: 100%;
  border-radius: 4px;
  border: 1px solid var(--background-color-dark);
  box-shadow: var(--box-shadow);
}

@media screen and (max-width: 720px) {
  .area,
  .heading_area,
  .currencies,
  .heading_currencies,
  .flag,
  .heading_flag {
    display: none;
  }
}
