.heading {
  display: flex;
  padding: var(--spacing-md);
}

.heading button {
  border: none;
  background-color: transparent;
  outline: none;
  cursor: pointer;
}

.heading_name,
.heading_population,
.heading_area,
.heading_gini {
  flex: 1;
  color: var(--text-color-secondary);
  font-weight: 500;

  display: flex;
  justify-content: center;
  align-items: center;
}

.heading_name {
  justify-content: flex-start;
}

.heading_arrow {
  color: var(--primary-color);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: var(--spacing-icon);
}

.row {
  display: flex;
  padding: var(--spacing-md) var(--spacing-lg);

  align-items: center;
  text-align: center;

  background-color: var(--background-color-light);
  border-radius: 8px;
  margin-bottom: var(--spacing-sm);

  box-shadow: var(--box-shadow);

  font-weight: 500;
}

.row:hover {
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.name,
.population,
.area,
.gini {
  flex: 1;
}

.gini {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
}

.gini_bar {
  width: 100px;
  height: 10px;
  border-radius: 8px;
  background-color: rgba(0, 0, 0, 0.1);
}

.gini_bar_indicator {
  height: 10px;
  border-radius: 8px;
  background-color: #21b6b7;
}

.gini_percent {
  color: var(--text-color-secondary);
  font-size: 12px;
}

.name {
  text-align: left;
  display: flex;
}

.flag {
  margin-right: var(--spacing-lg);
  display: flex;
  align-items: center;
}

.flag img {
  width: 100%;
  border-radius: 4px;
  border: 1px solid var(--background-color-dark);
  box-shadow: var(--box-shadow);
}

@media screen and (max-width: 720px) {
  .area,
  .heading_area,
  .gini,
  .heading_gini,
  .flag {
    display: none;
  }
}
