.wrapper {
  display: flex;
  align-items: center;

  background-color: var(--background-color-dark);
  border-radius: var(--border-radius);
  padding-left: var(--spacing-lg);

  color: var(--text-color-secondary);
}

.input {
  border: none;
  background-color: transparent;
  padding: var(--spacing-md);
  width: 100%;
  height: 100%;
  outline: none;
}

.input::placeholder {
  color: var(--text-color-secondary);
}
