.overview_panel img {
  border-radius: 4px;
  border: 1px solid var(--background-color-dark);
  box-shadow: var(--box-shadow);
  width: 100%;
}

.overview_panel {
  padding: var(--spacing-md);
  border-radius: 8px;
  box-shadow: var(--box-shadow);
  background-color: var(--background-color-light);
}

.overview_name {
  text-align: center;
  font-size: 32px;
  margin-bottom: 0;
}

.overview_region {
  text-align: center;
  font-size: 14px;
  font-weight: 300;
  margin-top: var(--spacing-icon);
  margin-bottom: var(--spacing-xl);
}

.overview_numbers {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: var(--spacing-lg);
  text-align: center;
}

.overview_label {
  font-size: 14px;
  color: var(--text-color-secondary);
}

.details_panel {
  background-color: var(--background-color-light);
  box-shadow: var(--box-shadow);
  border-radius: 8px;
}

.details_panel_heading {
  padding: var(--spacing-md);
  padding-bottom: 0;

  margin: 0;
}

.details_panel_row {
  display: flex;
  justify-content: space-between;

  padding: var(--spacing-md);
  border-bottom: 1px solid #e0e0e0;
}

.details_panel_label {
  color: var(--text-color-secondary);
}

.details_panel_value {
  max-width: 65%;
  text-align: end;
}

.details_panel_borders {
  padding: var(--spacing-md);
}

.details_panel_borders_container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
  gap: var(--spacing-xl);
}

.details_panel_borders img {
  width: 100%;
  border-radius: 4px;
  border: 1px solid var(--background-color-dark);
  box-shadow: var(--box-shadow);
}

.details_panel_borders_country {
  text-align: center;
}

.details_panel_borders_label {
  color: var(--text-color-secondary);
  margin-bottom: var(--spacing-lg);
}

.container {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: var(--spacing-xl);
}

@media screen and (min-width: 720px) {
  .container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: var(--spacing-xl);
  }

  .container_left {
    grid-column: 1 / span 4;
  }

  .container_right {
    grid-column: 5 / span 8;
  }
}
